<div class="registrar-card">
  <div class="registar-card-header">
    {{dog_name}}
  </div>
  <div class="card-body">
    <p>
      Tell us your Happy Home Story:
      {{story}}
    </p>
    <p>
      Name:
      {{owner_name}}
    </p>
  </div>
</div>