<div class="registrar-card">
  <div class="registar-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Name:
      {{potentialOwner_name}}
    </p>
    <p>
      Email:
      {{email}}
    </p>
  </div>
</div>